
<!-- Client Products -->
<body>

	<div class="checkout">
        {{#if prods}}
		<div class="container">
			<h1 class="animated wow slideInLeft" data-wow-delay=".5s">My Products</h1><br>
			<div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
				<table class="timetable_sub">
					<thead>
						<tr>
							<th>Product ID</th>
							<th>Product Image</th>
                            <th>Product Name</th>
							<th>Product Description</th>
							<th>Product Tags</th>
							<th>Product Price</th>
							<th>Manage</th>
						</tr>
					</thead>
                    {{#each prods}}
					<tr class="rem1">
						<td class="invert">{{this._id}}</td>
						<td class="invert-image"><a href="single.html"><img src="{{this.imageUrl}}" alt=" " class="img-responsive" /></a></td>
						<td class="invert">{{this.name}}</td>
						<td class="invert">{{this.description}}</td>
						<td class="invert">{{this.tags}}</td>
						<td class="invert">{{this.price}}</td>
						<td class="invert">
                            <a href="/client/edit-product/{{this._id}}?edit=true" class = "btn btn-success">EDIT</a> <br><br>
                            <form action="/client/delete-product" method = "POST">
                                <input type="hidden" value ="{{this._id}}" name ="id">
								<input type="hidden" name="_csrf" value="{{csrfToken}}">
								<button class="btn btn-danger">DEL</button>
                            </form>

                        </td>
					</tr>
                    {{/each}}
				</table>
                    {{else}}
                    <h1>No Product Available!</h1>
			{{/if}}
			</div>

		</div>
	</div>
</body>
<!-- //checkout -->

