{{#if orders}}

    <ul>
        {{#each orders}}

            <h1>ORDER ID: {{this._id}}</h1>
    </ul>
    <ul>
        {{#each this.products}}
            <li>
                <h1>Product Name: {{this.product.name}}({{this.quantity}})</h1>
            </li>
        {{/each}}
        {{!-- <li>
            <h1>Price:{{this.price}}</h1>
        </li> --}}
    </ul>
    {{/each}}
{{else}}
    <h1>NO PLACE ORDERS YET!</h1>
{{/if}}