
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Products</li>
				<li class="active">whatever</li>
			</ol>
		</div>
	</div>

	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				{{!-- <div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
					<h3>Filter By Price</h3>
					<ul class="dropdown-menu1">
							<li><a href="">
							<div id="slider-range"></div>
							<input type="text" id="amount" style="border: 0" />
							</a></li>
					</ul>
						<script type='text/javascript'>//<![CDATA[
						$(window).load(function(){
						 $( "#slider-range" ).slider({
								range: true,
								min: 0,
								max: 100000,
								values: [ 20000, 80000 ],
								slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
								}
					 });
					$( "#amount" ).val( "PHP " + $( "#slider-range" ).slider( "values", 0 ) + " - PHP " + $( "#slider-range" ).slider( "values", 1 ) );


						});//]]>
						</script>
						<script type="text/javascript" src="/public/js/jquery-ui.min.js"></script>
					 <!---->
				</div> --}}
				<div class="categories animated wow slideInUp" data-wow-delay=".5s">
					<h3>Categories</h3>
					<ul class="cate">
						<li><a href="products.html">Select Stock Status</a> <span>()</span></li>
							<ul>
								<li><input type = "checkbox">Future Release</a> <span>()</span></li>
								<li><input type = "checkbox">March Release</a> <span>()</span></li>
								<li><input type = "checkbox">February Release</a> <span>()</span></li>
								<li><input type = "checkbox">April Release</a> <span>()</span></li>

							</ul>
						<li><a href="products.html">Category</a> <span>()</span></li>
							<ul>
								<li><input type = "checkbox">Science Fiction</a> <span>()</span></li>
								<li><input type = "checkbox">Gundam</a> <span>()</span></li>
								<li><input type = "checkbox">Figures</a> <span>()</span></li>
							</ul>
						<li><a href="products.html">Series</a> <span>()</span></li>
							<ul>
								<li><input type = "checkbox">xxxxxxxxxx</a> <span>()</span></li>
								<li><input type = "checkbox">xxxxxxxxxx</a> <span>()</span></li>
								<li><input type = "checkbox">xxxxxxxxxx</a> <span>()</span></li>
								<li><input type = "checkbox">xxxxxxxxxx</a> <span>()</span></li>
								<li><input type = "checkbox">xxxxxxxxxx</a> <span>()</span></li>
							</ul>
						<li><a href="products.html">Scale</a> <span>()</span></li>
							<ul>
								<li><input type = "checkbox">Non-Scale</a> <span>()</span></li>
								<li><input type = "checkbox">1/60 Scale</a> <span>()</span></li>
								<li><input type = "checkbox">1/72 Scale</a> <span>()</span></li>
								<li><input type = "checkbox">1/100 Scale</a> <span>()</span></li>
								<li><input type = "checkbox">1/144 Scale</a> <span>()</span></li>
								<li><input type = "checkbox">1/1000 Scale</a> <span>()</span></li>
							</ul>
						<li><a href="products.html">Item Type</a> <span>()</span></li>
							<ul>
								<li><input type = "checkbox">Injection Kits</a> <span>()</span></li>
								<li><input type = "checkbox">High-Grade Kits</a> <span>()</span></li>
								<li><input type = "checkbox">Master-Grade Kits</a> <span>()</span></li>
							</ul>
						<li><a href="products.html">Cement(Glue)/Paint</a> <span>()</span></li>
							<ul>
								<li><input type = "checkbox">Cement(Glue)/Paint</a> <span>()</span></li>
								<li><input type = "checkbox">No Cement(Glue)/No Paint</a> <span>()</span></li>
							</ul>
					</ul>
				</div>

				{{!-- FEATURED PRODUCTS --}}
				<div class="new-products animated wow slideInUp" data-wow-delay=".5s">
					<h3>New Products</h3>
					<div class="new-products-grids">
						<div class="new-products-grid">
							<div class="new-products-grid-left">
								<a href="single.html"><img src="public/images/1.jpg" alt=" " class="img-responsive" /></a>
							</div>
							<div class="new-products-grid-right">
								<h4><a href="single.html">occaecat cupidatat</a></h4>
								<div class="rating">
									<div class="rating-left">
										<img src="public/images/1.jpg" alt=" " class="img-responsive">
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
									<p> <span class="item_price">$180</span><a class="item_add" href="#">add to cart </a></p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="new-products-grid">
							<div class="new-products-grid-left">
								<a href="single.html"><img src="public/images/1.jpg" alt=" " class="img-responsive" /></a>
							</div>
							<div class="new-products-grid-right">
								<h4><a href="single.html">eum fugiat quo</a></h4>
								<div class="rating">
									<div class="rating-left">
										<img src="public/images/1.jpg" alt=" " class="img-responsive">
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
									<p> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="new-products-grid">
							<div class="new-products-grid-left">
								<a href="single.html"><img src="public/images/1.jpg" alt=" " class="img-responsive" /></a>
							</div>
							<div class="new-products-grid-right">
								<h4><a href="single.html">officia deserunt</a></h4>
								<div class="rating">
									<div class="rating-left">
										<img src="public/images/1.jpg" alt=" " class="img-responsive">
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
									<p> <span class="item_price">$259</span><a class="item_add" href="#">add to cart </a></p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 products-right">
				<div class="products-right-grid">
					<div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
						{{!-- <div class="sorting">
							<select id="country" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="null">Default sorting</option>
								<option value="null">Sort by popularity</option>
								<option value="null">Sort by average rating</option>
								<option value="null">Sort by price</option>
							</select>
						</div> --}}
						<div class="search">
						<div class="clearfix"> </div>
					</div>
					<div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
						<img src="public/images/cover-shop.jpg" alt=" " class="img-responsive" />
						<div class="products-right-grids-position1">
							{{!-- <h4>WELCOME TO OUR HOBBY SHOP!</h4> --}}
							{{!-- <p>Temporibus autem quibusdam et aut officiis debitis aut rerum
								necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae
								non recusandae.</p> --}}
						</div>
					</div>



{{!-- THIS IS WHERE THE PRODUCTS PRINTS --}}
				{{#if prods}}
				<div class="products-right-grids-bottom">
					<div class="col-md-4 products-right-grids-bottom-grid">
						{{#each prods}}
						<div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
							<div class="new-collections-grid1-image">
								<a href="single.html" class="product-image"><img src="{{this.imageUrl}}" alt=" " class="img-responsive"></a>
								<div class="new-collections-grid1-image-pos products-right-grids-pos">
									<a href="/products/{{this.id}}">Quick View</a>
								</div>
								<div class="new-collections-grid1-right products-right-grids-pos-right">
									<div class="rating">
										<div class="rating-left">
											<img src="public/images/1.jpg" alt=" " class="img-responsive">
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<h4><a href="single.html">{{this.name}}</a></h4>
								<div class="simpleCart_shelfItem products-right-grid1-add-cart">
									<p><i>PHP{{this.price}}</i> <span class="item_price">{{this.price}}</span>
									<form action="/cart" method = "POST">
										<button class="add-to-cart btn btn-default">add to cart</button>
										<input type="hidden" name="id" value="{{this.id}}">
              						</form></p>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
						{{else}}
					<h1>No Product Available!</h1>
					{{/if}}
				</div>



				<div class="clear"></div>
				<nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
				  <ul class="pagination paging">
					<li>
					  <a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					  </a>
					</li>
					<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
					  <a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					  </a>
					</li>
				  </ul>
				</nav>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //breadcrumbs -->
